{%extends 'base.html'%}

{%block content%}

<div class="content">
<form action="" method="post">
        {{ form.csrf_token }}
    <table class="table table-sm table-dark">

        <thead  class="table-info">

          {%for field in form%}
          <th scope="col"> {{field.label}}</th>
          {%endfor%}
        
    </thead>
    <tbody>
        <tr>
                {%for field in form%}
               <td>{{field}}</td> 
                {%endfor%}
        </tr>
    </tbody>

    </table>
   

  
</form>

<table class="table table-hover" >
    <thead>
       <th>id</th>
        <th scope="col">Заявка</th>
        

          
    </thead>
    <tbody>
        {%for row in all_agr_db%}
        <tr>
            <td id='a_id' width='10'>{{row.id}}</td>
            <td scope="col" width='800'>
               <a href="{{url_for('.download_agr', filename=row.path)}}"> {{row.path}}
            
                    <a href="#" onclick='f1(event)'>
                            <span id='sp' class="glyphicon glyphicon-remove-sign"></span>
                          </a>
            </td>
        </tr>
        {%endfor%}
        
    </tbody>
</table>
</div>

{%endblock%}

{%block scripts%}

<script>

$(document).ready(function() {

        
$('#customer_name').select2();


})
   
    </script>
   
    <script>
     function f1(event){
         let a=event.target.parentNode.parentNode
         let c=a.previousElementSibling
         console.log(c.innerHTML)
         const id = c.innerHTML;
         if(confirm('Удалить заявку. Вы уверены?'))
         {
             $.getJSON('/agreements/delete_agr/'+ id, {
                id:id,

             }, function(data){
                 console.log(data);
                
             }
             

             )

       window.location.reload(); 

        }else{
            (console.log('d'))
        }
        
    } 
   
   
    
    </script>
    {%endblock%}