{% macro table() %}

  <table class="table table-sm">
  <thead>
    <tr>
        <th scope="col">Возможные действие</th>
        <th scope="col">Cтатус(цель запроса)</th>
        <th scope="col">#</th>

        <th scope="col">Клиент</th>
        <th scope="col">Количество перевозок в месяц</th>
        <th scope="col">Дата отгрузки</th>
        <th scope="col">Срок оплаты</th>
        <th scope="col">Продавец</th>
        <th scope="col">Откуда</th>
        <th scope="col">Куда</th>
        <th scope="col">Необходимая Грузоподъемность</th>
        <th scope="col">Вид загрузки</th>
        <th scope="col">Вес груза</th>
        <th scope="col">Характер Груза</th>
        <th scope="col">Стоимость груза</th>
        <th scope="col">Кост с НДС</th>
        <th scope="col">Минимальная продажа</th>
        <th scope="col">Направление</th>
        <th scope="col">Тип перевозки</th>
        <th scope="col">Комментарии</th>
        <th scope="col">Время запроса</th>
        <th scope="col">Дата ставки</th>
        <th scope="col">Кто перенаправил</th>




    </tr>

  </thead>




  
{%endmacro%}