{%extends 'base.html'%}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


{%block content%}
<div class="container-full">



    <table class="table table-sm">
  <thead>
    <tr>
       <th scope="col">Возможные действие</th>
        
       <th scope="col">#</th>
        <th scope="col">Статус запроса</th>
        <th scope="col">Закупщик
        <th scope="col">Количество перевозок по этому напарвлению в месяц</th>
        <th scope="col">Дата загрузки</th>
        <th scope="col">Клиент</th>
        <th scope="col">Срок оплаты</th>
        <th scope="col">Продавец</th>
        <th scope="col">Откуда</th>
        <th scope="col">Куда</th>
        <th scope="col">Грузоподъемность</th>
        <th scope="col">Вид загрузки</th>
        <th scope="col">Вес груза</th>
        <th scope="col">Характер Груза</th>
        <th scope="col">Стоимость груза</th>
        <th scope="col">Кост с НДС</th>
        <th scope="col">Направление</th>
        <th scope="col">Тип перевозки</th>
        <th scope="col">Комментарии</th>
        <th scope="col">Время запроса</th>
        <th scope="col">Дата ставки</th>
        <th scope="col">Кто перенаправил</th>


    </tr>
  </thead>
        <tbody>
    <tr>

      <th scope="row">
      <a href="{{url_for('edit', id=req.id)}}"><button type="button" class="btn btn-info btn-sm">Cкорректировать</button></a>
    <!--<a href="{{url_for('delete_req', id=req.id)}}"><button type="button" class="btn btn-warning btn-sm">Удалить Запрос</button></a>-->
          <!--<a href="{{url_for('feedback', id=req.id)}}"><button type="button" class="btn btn-warning btn-sm">Подробнее</button></a>-->
        {%if current_user.role !='sale' %}
          <a href="{{ url_for('re_direct', id=req.id) }}"><button type="button" class="btn btn-info btn-sm" > Перенаправить</button></a>
          <a href="{{ url_for('cost', id=req.id) }}"><button type="button" class="btn btn-info btn-sm">Указать стоимость</button></a>
        {%endif%}
        <form id='my_form_id' action="{{url_for('upload')}}" method="post" enctype="multipart/form-data" name='dedwed'>
          <div>
            <label for="file"></label>
            <input type="file" id="file" name="file" multiple>
            <button>Submit</button>
          </div>
            </form>
          </div>
          <div>
          <button id='q'>q</button></div>

      </th>
        <th id="mid"> {{req.id}}</th>
        <th><a href="{{url_for('status_for_request', id = req.id)}}">{{req.request_status}}</a></th>
        {%for r in req.users%}
        <th>{{r.name}}</th>
        {%endfor%}
        <th>
        {%for d in docs %}
        <p><a href="{{url_for('download_file', filename=d.path)}}">{{d.path}}</a></p>
        {%endfor%}
        </th>
          <th>{{req.quantity}}</th>
        <th>{{moment(req.pick_up_date).format('ll')}}</th>
        <th> {{req.customer_name}}</th>
        <th> {{req.payment_day}}</th>
        <td>{{req.user.name}} </td>
        <td>{{req.org}}</td>
        <td>{{req.dest}}</td>
        <td>{{req.type_of_truck}}</td>
        <td>{{req.type_of_loading}}</td>
        <td>{{req.weigth_cargo}}</td>
        <td>{{req.cargo_desciption}}</td>
        <td>{{req.cargo_value}}</td>
        <td>{{req.cost}}</td>
        <td>{{req.direction}}</td>
        <td>{{req.cargo_type}}</td>
        <td>{{req.request_comments}}</td>
        <td>{{moment(req.created).fromNow()}} </td>
        {%if req.cost%}
        <td><b>{{moment(req.cost_created).fromNow()}}</b></td>
        {%endif%}
        {%if req.redirect_comment%}
        <td>{{req.redirect_comment}}</td>
        {%endif%}
    </table>






<div class="container">
     <a href="{{url_for('feedback', id=req.id)}}"><button type="button" class="btn btn-warning btn-sm">Обновить</button></a>
    <form action="" method="post">
        {{form.hidden_tag()}}
            {% if current_user.id == 5 or current_user.role == 'buyer' %}

                {{form.ask_buyer}} закупщик
                {{form.ask_sale}}  продавец
                {{form.deadline}} дедлайн
                {{form.quest}} Отметить как вопрос?
                {{form.noquest}} Вопросов нет
                {{form.deadline_answer}} срок ответа


            {% endif %}





        <p></p>
            {{form.comments.label()}}<br>
            {{form.comments(cols=100, raw=30)}}

            {{form.submit()}}



</form>
</div>
</div>

<br>
    {%for post in posts%}
         {%if post.user.role=='sale'%}
              <p style="text-indent:150px">
                  <b>{{ post.user.name}}: </b>
                    {{post.post}}
                    ....{{moment(post.post_date).fromNow()}}....
              </p>

    {%else%}
                <p style="text-indent:200px" >

                        <em> {{ post.user.name}}:</em>
                        {{post.post}}
                        ...{{moment(post.post_date).fromNow()}}...

                </p>
                    {%endif%}
                {%endfor%}



                <script>
                    b = document.querySelector('#q');
                    req = document.getElementById("mid").innerText;
                    b.onclick = function() {
                      alert( req);
                    };
                    
                  </script>

{%endblock%}



</body>
