{%extends "base.html"%}



{% block navbar %}
<div class="container-full">
   <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <h7><a class="navbar-brand" href="{{url_for('index')}}">Главная</a></h7>
        <h7><a a class="navbar-brand" href="{{url_for('agreement_form')}}">Договор с клиентом</a></h7>
        <h7><a a class="navbar-brand" href="{{url_for('my_agreements')}}">Мои договора</a></h7>
    </nav>
</div>
{% endblock %}

{%block content%}
<div class="container">

{%for customer in customers%}

    <p>{{customer.id}} - {{customer.name}}-{{customer.phone}}-{{customer.db}}-{{customer.payment_day}}--{{customer.payment_terms}}
        --{{customer.customer_character}}
        --Колич-во запросов всего по клиенту: {{Request.query.join(Customer).filter(Request.customer_id==customer.id).count()}}
        -- Дата последнего запроса по клиенту: {{Request.query.join(Customer).filter(Customer.id==customer.id).order_by(Request.created.desc()).first().created}}


{%endfor%}
</div>
{%endblock%}
