{%extends "base.html"%}



{% block content %}

<div class="container">
    <h1>Новый запрос</h1>
    <form action="" method="post">

        <dl>
            {{form.hidden_tag()}}
            {{wtf.form_field(form.customer)}}
            {{wtf.form_field(form.request_status)}}

            {{wtf.form_field(form.pick_up_date)}}
            {{wtf.form_field(form.direction)}}
            {{wtf.form_field(form.org)}}
            {{wtf.form_field(form.dest)}}
            {{wtf.form_field(form.type_of_truck)}}
            {{wtf.form_field(form.weigth_cargo)}}
            {{wtf.form_field(form.type_of_loading)}}
            {{wtf.form_field(form.cargo_value)}}

            {{wtf.form_field(form.cargo_type)}}
            {{wtf.form_field(form.cargo_desciption)}}
            {{wtf.form_field(form.quantity)}}
            {{wtf.form_field(form.request_comments)}}


            {{form.submit()}}
        </dl>


    </form>
</div>
{% endblock %}