{%extends 'base.html'%} {%block head%} {{super()}}
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.4.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" /> {%endblock%} 


<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />

{%block content%}


<div id="successAlert" class="alert alert-success" role="alert" style="display:none;"></div>
<div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>
<div class>
    <script src="{{url_for('supp.static', filename='supp.js')}}"></script>
    <script src="{{url_for('supp.static', filename='add.js')}}"></script>

    

        <div id="successAlert" class="alert alert-success" role="alert" style="display:none;">

        </div>
        <div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;">
            </div>


     
        

        <table class="table table-sm">
        <thead>
            <tr>
                <th>Поиск по имени</th>
                <th>Поиск по ИНН</th>
                
            </tr>
            </thead>
            <body>
                <form action="" method="POST">
                {{ formName.csrf_token }}
              <th> {{formName.name}} {{formName.submit_name}}</th>
                
            </form>
            </body>
            </table>
            
            {%if customer%}
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Номер счета</th>
                        <th>Сумма счета</th>
                    </tr>
        
                </thead>

                <tbody>
                        {%for inv in customer.invoices.all()%}
                        <tr>
                        
                           <th>{{inv.invoice_number}}</th> 
                            <th>{{inv.invoice_amount}}</th>
                        </tr>
                        {%endfor%}
                </tbody>

            </table>
            {%endif%}


{%endblock%}



{%block scripts%} 
            {{super()}}
    {{moment.include_moment()}}
  {{moment.lang('ru')}}
            
            
            {%endblock%}