{%extends 'base.html'%} {%block head%} {{super()}}
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.4.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" /> {%endblock%} 


<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />

{%block content%}


<div id="successAlert" class="alert alert-success" role="alert" style="display:none;"></div>
<div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>
<div class>
    <script src="{{url_for('supp.static', filename='supp.js')}}"></script>
    <script src="{{url_for('supp.static', filename='add.js')}}"></script>

    

        <div id="successAlert" class="alert alert-success" role="alert" style="display:none;">

        </div>
        <div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;">
            </div>


     
        

        <table class="table table-sm">
        <thead>
            <tr>
                
                <th>Поиск по Наименованию</th>
                
            </tr>
            </thead>
            <body>
                <form action="" method="POST" name='cust' id='cust'>
               
              <th onchange="myFunction()"> {{formName.name}} 
                <input type="submit" id='submit_name' hidden='true'></th>
                
            </form>
            </body>
            </table>
            
            {%if customer%}
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Номер счета</th>
                        <th>Сумма счета</th>
                        <th>Дата счета</th>
                    </tr>
        
                </thead>

                <tbody>
                        {%for inv in invoices%}
                        <tr>
                        
                           <th>{{inv.invoice_number}}</th> 
                            <th>{{inv.invoice_amount}}</th>
                            <th>{{inv.invoice_date}}</th>
                        </tr>
                        {%endfor%}
                </tbody>

            </table>

            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Действие</th>
                        <th>Номер счета</th>
                        <th>Сумма оплаты</th>
                        <th>Дата оплаты</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
   
                        {{formInvoice.csrf_token}}
                        <input type="hidden" name="form-name" value="form1">
                        <th bgcolor="#CDCCC4"><input type="submit" id='submit_invoice' value="записать данные"></th>
                        <th bgcolor="#B1C0CA " >{{formInvoice.number}}</th>
                        <th bgcolor='#6DBA73'>{{formInvoice.summ}}</th>
                        <th bgcolor='#AABA6D' >{{formInvoice.date}}</th>
                   
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm"> 
                <thead>
                    <tr>
                        <th>Номер счета</th>
                        <th>Сумма оплаты</th>
                        <th>Дата оплаты</th>
                        
                    </tr>
                </thead>
                <tbody>
                   
                   {%for inv in invoices%}
                    <tr>
                       
                    
                        <th>
                          {{inv.invoice_number}} 
                        </th>  
                   
                        
                        <th>{%for payment in all_payments%}
                            {%if payment.invoice_number==inv.invoice_number%}
                            <p>{{payment.summ}}</p>
                            {%endif%}
                            {%endfor%}
                        </th>
                        <th>
                            {%for payment in all_payments%}
                            {%if payment.invoice_number==inv.invoice_number%}
                            <p>{{payment.date}}</p>
                            {%endif%}
                            {%endfor%}
                        </th>
                        
                       </tr> 
                        
                   {%endfor%}
                   

                </tbody>

            </table>


            {%endif%}


<script>


    function myFunction(){
        let name= $("#select2-name-container").text();
        $('form#cust').submit();
        console.log(name)
    }

</script>

<script>
    $("select#number").select2({width:'100%'})
$('input#submit_invoice').bind('click', function(e){
    e.preventDefault();
    console.log('ready for work')
    $.getJSON({{ url_for('.add_payments')|tojson }}, {
        name: $("#select2-name-container").text(),
        c_inv_number: $("#select2-number-container").text(),
        summ: $('input#summ').val(),
        date: $('input#date').val(),
        type:'GET',
        data: $(this).serialize(),
    }).done(show);

function show(data){
    if(parseFloat(data.summ)){
       console.log(data) 
       window.location.reload()
       
    }else{
        console.log('dewdwe')
    }
    
}


})

</script>



{%endblock%}



{%block scripts%} 
            {{super()}}
    {{moment.include_moment()}}
  {{moment.lang('ru')}}
            
            
            {%endblock%}