{%extends 'base.html'%} {%block head%} {{super()}}
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.4.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" /> {%endblock%} 


<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />

{%block content%}


<div id="successAlert" class="alert alert-success" role="alert" style="display:none;"></div>
<div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>
<div class>
    <script src="{{url_for('supp.static', filename='supp.js')}}"></script>
    <script src="{{url_for('supp.static', filename='add.js')}}"></script>

    

        <div id="successAlert" class="alert alert-success" role="alert" style="display:none;">

        </div>
        <div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;">
            </div>


     
        <div class='content'></div>

        <table class="table table-sm">
        <thead>
            <tr>
                
                
                <form action="" method="POST" id="cust_payment" >
               
                        <th onchange="myFunction()"> {{formName.name}} </th>
                          <input type="submit" id='submit_name' hidden='true'>

                          {%if customer%}
                <th>Итоговая задолженность 
                </th>
                <th>Просроченная задолженность</th>
                <th>Просроченные счета</th>
                <th>Дата послежнего платежа </th>
                <th>Сумма последнего платежа </th>

                
                
                
            </tr>
            </thead>
            <tbody>
                <tr>
                    <th>
                    </th>
                    <th>
                            {{customer.total_dept()}} РУБ
                    </th>
                    <th>{{customer.inv_failed_summ()}}</th>
                    
                    <th>
                    {%for inv in customer.inv_failed() %}
                        <p>{{inv.invoice_number}} - сумма {{inv.invoice_amount}}</p>
                    {%endfor%}
                    </th>
                    {%if all_payments %}
                    <th>
                        
                            {{moment(all_payments[0].date).fromNow()}}
                       
                        
                        
                        </th>
                    <th>
                            {{all_payments[0].summ}}РУБ
                    </th>
                    {%endif%}
                </tr>

                
                
            </form>
            {%endif%}
            </tbody>
            </table>
            </div>
            
            {%if customer%}
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Номер счета</th>
                        <th>Сумма счета</th>
                        <th>Дата счета</th>
                        <th>Дата оплаты</th>
                    </tr>
        
                </thead>

                <tbody>
                        {%for inv in invoices%}
                        {%if inv in customer.inv_failed()%}
                        
                        <tr bgcolor='red'>
                            {%else%}
                            <tr> 
                        {%endif%}
                        
                           <th>{{inv.invoice_number}}</th> 
                            <th>{{inv.invoice_amount}}</th>
                            <th>{{inv.invoice_date}}</th>
                           
                                <th> {{moment(inv.invoice_deadline_payment).fromNow()}}</th>

                                   
                            
                            <th>

                            </th>
                        </tr>
                       
                        {%endfor%}
                </tbody>

            </table>

            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Действие</th>
                        <th>Номер счета</th>
                        <th>Сумма оплаты</th>
                        <th>Дата оплаты</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
   
                        {{formInvoice.csrf_token}}
                        <input type="hidden" name="form-name" value="form1">
                        <th bgcolor="#CDCCC4"><input type="submit" id='submit_invoice' value="записать данные"></th>
                        <th bgcolor="#B1C0CA " >{{formInvoice.number}}</th>
                        <th bgcolor='#6DBA73'>{{formInvoice.summ}}</th>
                        <th bgcolor='#AABA6D' >{{formInvoice.date}}</th>
                   
                    </tr>
                </tbody>
            </table>

            <div id='r', onclick="delFunction(event)">
            <table class="table table-sm"> 
                <thead>
                    <tr>
                        <th>Номер счета</th>
                        <th>Сумма оплаты</th>
                        <th>Дата оплаты</th>
                        <th>Удалить</th>
                        
                    </tr>
                </thead>
                <tbody>
                   
                   {%for inv in invoices%}
                    <tr>
                       
                    
                        <th>
                          {{inv.invoice_number}} 
                        </th>  
                   
                        
                        <th>{%for payment in all_payments%}
                            {%if payment.invoice_number==inv.invoice_number%}
                            <p>{{payment.summ}}</p>
                            {%endif%}
                            {%endfor%}
                        </th>
                        <th>
                            {%for payment in all_payments%}
                            {%if payment.invoice_number==inv.invoice_number%}
                            <p>{{payment.date}}</p>
                            {%endif%}
                            {%endfor%}
                        </th>

                        <th>
                            {%for payment in all_payments%}
                            {%if payment.invoice_number==inv.invoice_number%}
                            <p id='id'>
                                    <button  id='remove_payment_c' style="color:red"
                                    class="glyphicon glyphicon-remove-circle">{{payment.id}}</button>
                            </p>
                            {%endif%}
                            {%endfor%}

                        </th>
                        
                       </tr> 
                        
                   {%endfor%}
                   

                </tbody>

            </table>
        </div>


            {%endif%}


<script>


    function myFunction(){
        let name= $("#select2-name-container").text();
        $('form#cust_payment').submit();
        console.log(name)
    }

</script>

<script>
    $("select#number").select2({width:'100%'})
$('input#submit_invoice').bind('click', function(e){
    e.preventDefault();
    console.log('ready for work')
    $.getJSON({{ url_for('.add_payments')|tojson }}, {
        name: $("#select2-name-container").text(),
        c_inv_number: $("#select2-number-container").text(),
        summ: $('input#summ').val(),
        date: $('input#date').val(),
        type:'GET',
        data: $(this).serialize(),
    }).done(show);

function show(data){
    if(parseFloat(data.summ)){
       console.log(data) 
       window.location.reload()
       
    }else{
        console.log('dewdwe')
    }
    
}


})

</script>

<script>
    let del_button=document.getElementById('remove_payment_c')
    function delFunction(event)
    {
        if(event.target.id=='remove_payment_c' && confirm('Подтверждаете удаление?')){
        console.log(event.target.innerText)
            var x = event.target.innerText
            let list=[]

            list.push(x)
            console.log(list[0])

            $.getJSON('/customers/remove_payments_c/'+list[0],
            {
                id:list[0],
                type:'POST',
                data:'/customers/customers'

            }, function(data){
                console.log(data.success_remove)
                window.location.reload()
            }
            )
        

        }
    } 


</script>



{%endblock%}



{%block scripts%} 
            {{super()}}
    {{moment.include_moment()}}
  {{moment.lang('ru')}}
            
            
            {%endblock%}