
*config
venv/
v1/
v3/
v2/
*.pyc
suppliers/documents/
suppliers/payments_docs
suppliers/payments_docs_tr
suppliers/s_docs
suppliers/s_invoice
suppliers/c_inv
suppliers/TN

my_datavolume/