 {%extends 'base.html'%} {%block head%} {{super()}}



<script src="{{url_for('.static', filename='supp.js')}}"></script>
<script src="{{url_for('.static', filename='add.js')}}"></script>
<script type="text/javascript" src="js/addons/datatables.min.js"></script>



 {%endblock%}{%block content%}


<div id="successAlert" class="alert alert-success" role="alert" style="display:none;"></div>
<div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>
<div id="myid">





    <div id="successAlert" class="alert alert-success" role="alert" style="display:none;">

    </div>
    <div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;">
            
          
        <div id='dr' >
                    {{ dropzone.create('supp.upload_s_docs') }} {{ dropzone.load_js() }} {{ dropzone.config() }}
            </div>
       

        </div >
    <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">>
        <thead>
            <tr>
                <th>Третья сторона</th>
                <th>Сумма оплаты</th>
                <th>Дата перевода</th>
                <th>Дата выплаты</th>
                <th>Status</th>
                <th>Id</th>
                <th>Платежка</th>
            </tr>
        </thead>
        <tbody>
            {%for payment in all%}
            
            <tr name = 'main_tr' id = 'main_tr'>
                <td >{{payment.transit.name}}</td>
                <td>{{payment.sum}}</td>
                <td onchange=Date_send(event)>{{form.date_send(value=payment.transit_date_send.strftime('%Y-%m-%d'))}}</td>
                <script >
                        function Date_send(event){
                            const p_target = event.target
                            const parent = p_target.parentElement.parentElement.children
                            const child = parent.children
                            const id = parent[6].innerHTML
                            console.log(id)
                            const p_date = event.target.value
                            console.log(p_date)
                            $.getJSON('/suppliers/tr_save_date', {
                                     id:id,
                                     p_date: p_date,
                                     type:"POST",
                                     data:'/suppliers/3rd_party_payments',
        
                                 }, function(data) {
                                     console.log(data)
                                     
                                 }
                                
                
                               
                                 )
                          
                        }
                        </script>
               
            
                <td>
                    {%if payment.transit_date_recieved%}
                        {{payment.transit_date_recieved.strftime('%Y-%m-%d')}}
                    {%else%}
                    Время оплаты неизвестно
                    {%endif%}
                </td>
                
                <td onchange=ChangeStatus(event)>
                
                    <p>{{payment.status_tr}}</p>                    
                    
                </td>
            
                <td style="display: block;" name='tr_id'>{{payment.id}}</td>
                <td  name='xxx' class='s_div' onclick=functionShow(event)>
                       
                    
                        
                Прикрепить платежку
                {%if payment.doc_path%}
                <p><a href="{{url_for('supp.download_tr_doc_pay', filename=payment.doc_path)}}">{{payment.doc_path}}</a></p>
                {%else%}
                    Платежки нет
                {%endif%}
        
                    
                </td>

                <td style="display: none;">{{payment.transit_date_recieved}}</td>
               
                    
                
          

            </tr>
            {%endfor%}
            
           
        </tbody>

    </table>
</div>



{%endblock%} {%block scripts%} {{super()}} {{moment.include_moment()}} {{moment.lang('ru')}}

<script>
                    function functionShow(event){

                        const target = event.target;
                        console.log(target);
                        const id =target.parentElement;
                        const test = id.children
                        console.log(test[6].innerHTML)
                     

                        const x =  test[6].innerHTML; 
                        

                        $.getJSON('/suppliers/get_tr_id', {
                             id:x,
                             type:"POST",
                             data:'/suppliers/3rd_party_payments',

                         }, function(data) {
                             console.log(data)
                             
                         }
                        
        
                       
                         )

                         var form = document.createElement('form');
                            form.classList.add('dropzone');
                            form.method = 'post';
                            form.action = '/suppliers/upload_payment_doc_tr';
                            form.setAttribute ('id', 'drzone')
                            target.appendChild(form);
                            var my = new Dropzone(form); 
                            my.on("success", function(file, responseText) {
  window.location.href = ("/suppliers/upload_payment_doc_tr")
 
});


                    }
                   
                    </script>


<script>
Dropzone.options.drzone = {
  paramName: "file", // The name that will be used to transfer the file
  maxFilesize:2, // MB
  maxFiles: 1,
  acceptedFiles: ".pdf",

            };

        
</script>


<script>
function upload_docs(event){

   

        var x = event.target;
        var status = event.target.value;
        const id = x.parentElement.children[5].innerHTML

        
        const p = x.parentElement.parentElement
       
    
        // console.log(p.getAttribute('id'))
        // if (p.getAttribute('id')=='main_tr'){

        //     id = p.children
            
        // }else{
            
        //     id = p.parentElement.parentElement.children
            

        // }
        console.log(id)

        $.getJSON('/suppliers/upload_payment_doc_tr', {
            tr_id: id,
            
            type: 'POST',
            data: '/suppliers/3rd_party_payments'

        }, function(data) {
            console.log(data)

        })

        



        

       


       
}
</script>

<script>
    function ChangeStatus(event) {
        var x = event.target;
        var status = event.target.value;

        console.log(status)

        let list = []
        list.push(x)
        const tr_id = list[0].parentElement.parentElement.children[5].innerHTML
        console.log(list[0].parentElement.parentElement.children[5].innerHTML)



        var y = list[0].parentElement.parentElement.children[5]
        console.log('y' + y)

        $.getJSON('/suppliers/3rd_party_payments_status', {
            id: tr_id,
            status: status,
            type: 'POST',
            data: '/suppliers/3rd_party_payments'

        }, function(data) {
            console.log(data)

        })

    }
</script>

<script>
$(document).ready(function () {
$('#dtBasicExample').DataTable();
$('.dataTables_length').addClass('bs-select');
});

</script>



{%endblock%}