 {%extends 'base.html'%} {%block head%} {{super()}}
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.4.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" /> {%endblock%} {%block content%}


<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />


<form>
    <input type="text" placeholder="наименование поставщика" id='supp_name' name=name>
    <input type='text' placeholder='ati номер' id='ATI' , name='ati'>
    <input type='text' placeholder='телефон' id='phone' , name='phone'>
    <input type='text' placeholder='имя контакта' id='orginal' , name='name'>
    <button type="submit" class="btn btn-default" id='submit'>Записать в базу</button>
</form>

<div id="successAlert" class="alert alert-success" role="alert" style="display:none;"></div>
<div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>
<div class>
    <script src="{{url_for('.static', filename='supp.js')}}"></script>
    <script src="{{url_for('.static', filename='add.js')}}"></script>

    <div id='content'>


        <div id="successAlert" class="alert alert-success" role="alert" style="display:none;">

        </div>
        <div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;">

        </div>

        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Действия</th>
                    <th scope="col">ТОРА или РЭД</th>
                    <th scope="col">Наименование подрядчика</th>
                    <th scope="col">Статус</th>
                    <th scope="col">Direction</th>
                    <th scope="col">#</th>

                    <th scope="col">Продавец</th>
                    <th scope="col">Закупщик</th>
                    <th scope="col">Клиент</th>

                    <th scope="col">№ заявки с клиентом</th>
                    <th scope="col">дата заявки</th>
                    <th scope="col">Необходимая Грузоподъемность</th>
                    <th scope="col">место загрузки</th>


                    <th scope="col">когда загрузка</th>
                    <th scope="col">место выгрузки</th>
                    <th scope="col">когда выгрузка</th>
                    <th scope="col">Продажа на клиента с НДС</th>
        
                    <th scope="col">№ счета от подрядчика</th>
                    <th scope="col">дата счета</th>
                    <th scope="col">сумма счета от подрядчика</th>
                    <th scope="col">НДС/БЕЗ НДС</th>
                    <th scope="col">валюта счета</th>
                    <th scope="col">Аванс</th>
                    <th scope="col">КОСТ</th>
                    <th scope="col">Почта</th>


                </tr>
                <tbody>
                    <tr>
                       
                        <th>
                            {%if req.complete_fin !=1 %}
                            <form action="" , method='post' id='myform'>
                                <button type="submit">записать данные</button>
                            </form>
                            {%endif%}


                            {%if req.complete_fin==1 %}
                            <button id=re_write>
                                исправить данные
                           </button> {%endif%}
                           
                        </form>
                        <p></p>
    
                
                        <form id='my_form_id' action="{{url_for('supp.upload')}}" method="post" enctype="multipart/form-data" name='dedwed'>
                            <div>
                              <label for="file"></label>
                              <input type="file" id="file" name="file" multiple>
                            </div>
                            <div>
                              <button>Submit</button>
                            </div>
                          </form>
                        
                        {%for d in docs%}
                          <p><a href="{{url_for('supp.download_file', filename=d.path)}}">{{d.path}}</a></p>
                        {%endfor%}
                       
                        
                        
                        <th name='tora_red'>{{form.tora_red}}</th>
                        <th name='name'>{{form.name}}</th>
                        <th>{{form.status}}</th>
                        <th name='direction'>{{req.direction}}</th>
                        <th name='id'>{{req.id}}</th>
                        <th>{{req.user.name}}</th>
                        <th> {{req.users[0].name}}</th>
                        <th>{{req.customer.name}}</th>
                        <th>{{req.id}}</th>
                        <th name='date_request'>{{form.date_order_C}}</th>
                        <th>{{req.type_of_truck}}</th>
                        <th>{{req.org}}</th>
                        <th>{{form.date_loading_plan}}</th>

                        <th>{{req.dest}}</th>
                        <th>{{form.date_unloading_plan}}</th>
                        <th>{{form.c_inv_amount(placeholder=fin.c_inv_amount)}}</th>  
                        <th>{{form.s_invoice_number(placeholder=fin.s_invoice_number)}}</th>
                        
                        <th>{{form.s_inv_date(placeholder='req.pick_up_date')}}</th>
                         <!-- <th><input type="datetime" value="{{req.pick_up_date}}"></th>    -->
                        <th>{{form.s_inv_amount(placeholder=fin.s_inv_amount)}}</th>
                         <th>{{form.s_inv_vat(placeholder=fin.s_inv_vat)}}</th> 
                    </tr>

            </thead>

            {%if req.complete==1%}
            <button id=re_write>
                исправить
            </button> {%endif%}

            <div>

            </div>






            {%endblock%} {%block scripts%} {%endblock%}