 {%extends 'base.html'%} {%block head%} {{super()}}
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.4.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" /> {%endblock%} 


<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />

{%block content%}
<form>
    <input type="text" placeholder="наименование поставщика" id='supp_name' name=name>
    <input type='text' placeholder='ati номер' id='ATI' , name='ati'>
    <input type='text' placeholder='телефон' id='phone' , name='phone'>
    <input type='text' placeholder='имя контакта' id='orginal' , name='name'>
    {{form.inn(placeholder='ИНН')}}
   

    <button type="submit" class="btn btn-default" id='submit'>Записать в базу</button>

</form>

<div id="successAlert" class="alert alert-success" role="alert" style="display:none;"></div>
<div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>
<div class>
    <script src="{{url_for('.static', filename='supp.js')}}"></script>
    <script src="{{url_for('.static', filename='add.js')}}"></script>

    <div id='content'>


        <div id="successAlert" class="alert alert-success" role="alert" style="display:none;">

        </div>
        <div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;">

        </div>

        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Действия</th>
                    <th>Работа №</th>
                    <th scope="col">ТОРА или РЭД</th>
                    <th scope="col">Наименование подрядчика</th>
                    <th scope="col">Статус</th>
                    <th scope="col">Direction</th>
                    <th scope="col">#</th>

                    <th scope="col">Продавец</th>
                    <th scope="col">Закупщик</th>
                    <th scope="col">Клиент</th>

                    <th scope="col">№ заявки с клиентом</th>
                    <th scope="col">дата заявки</th>
                    <th scope="col">Необходимая Грузоподъемность</th>
                    <th scope="col">место загрузки</th>


                    <th scope="col">когда загрузка</th>
                    <th scope="col">место выгрузки</th>
                    <th scope="col">когда выгрузка</th>
                    

                    <!-- <th scope="col">№ счета от подрядчика</th>
                    <th scope="col">дата счета</th> -->
                    <th scope="col">Кост от подрядчика, БЕЗ НДС</th>
                    <th scope="col">Размер НДС</th>
                    
                    <th scope="col">валюта счета Подрядчика</th>
                    <th scope="col">КОСТ Подрядчика с НДС</th>
                    <th scope="col">Продажа на клиента</th>
                    <th scope="col">Профит без почты</th>


                </tr>
                <tbody>
                    <tr>

                        <th>
                            {%if req.complete_fin !=1 %}
                            <form action="" , method='post' id='myform'>
                                <button type="submit">записать данные</button>
                            </form>
                            {%endif%} {%if req.complete_fin==1 %}
                            <form action="" , method='post' id='myform'>
                            <button type="submit">исправить данные</button>
                        </form> {%endif%}

                            </form>
                            <p></p>


                            <form id='my_form_id' action="{{url_for('supp.upload')}}" method="post" enctype="multipart/form-data" name='dedwed'>
                                <div>
                                    <label for="file"></label>
                                    <input type="file" id="file" name="file" multiple>
                                </div>
                                <div>
                                    <button>Submit</button>
                                </div>
                            </form>
                            <p>ТН, ТТН</p>
                            {%for d in docs%}
                            <p><a href="{{url_for('supp.download_file', filename=d.path)}}">{{d.path}}</a></p>
                            {%endfor%}

                            <p> Заявка от клиента или другие доки от продавца, см ниже:</p>
                            {%for d in z_doc%}
                            <p><a href="{{url_for('download_file', filename=d.path)}}">{{d.path}}</a>
                                <p>{%endfor%}
                                        {{ form.csrf_token()}}
                                    {%if req.prefin[0]%}
                                        <th id='prefin'><a href="{{url_for('supp.prefin_change_id_test', id=req.prefin[0].id)}}">{{req.prefin[0].id}}</a> </th>
                                    {%else%}
                                    <th id='prefin'></th>
                                    {%endif%}
                                        {%if fin.tora_red %}
                                    <th name='tora_red'>{{form.tora_red(value=fin.tora_red)}}</th>
                                    {%else%}
                                    <th name='tora_red'>{{form.tora_red}}</th>
                                    {%endif%}
                                    {%if fin.supplier_id%}
                                    <th name='name'>{{form.name(value=fin.supplier.llc_name)}}</th>
                                    {%else%}
                                    <th name='name'>{{form.name}}</th>
                                    {%endif%}
                                    <th>{{form.status}}</th>
                                    <th name='direction'>{{req.direction}}</th>
                                    <th name='id'>{{req.id}}</th>
                                    <th>{{req.user.name}}</th>
                                    <th> {{req.users[0].name}}</th>
                                    <th>{{req.customer.name}}</th>
                                    <th>{{req.id}}</th>
                                    <th><input type='text' value={{req.created}} onfocus="(this.type='date')" onblur="(this.type='text')" id='date_order_C'></th>
                                    <th>{{req.type_of_truck}}</th>
                                    <th>{{req.org}}</th>

                                    <th><input type='text' value={{req.pick_up_date}}  onfocus="(this.type='date')" onblur="(this.type='text')" id='date_loading_plan'></th>
                                    <th>{{req.dest}}</th>
                                    {%if fin.unloading_date%}
                                    <th><input type='text' value={{fin.unloading_date}} onfocus="(this.type='date')" onblur="(this.type='text')" id='date_unloading_date'></th>
                                    {%else%}
                                    <th><input type='text'  onfocus="(this.type='date')" onblur="(this.type='text')" id='date_unloading_date'></th>
                                    {%endif%}


                                    {%if fin.s_inv_amount%}
                                    <th>{{form.s_inv_amount(value=fin.s_inv_amount)}}</th>
                                    {%else%}
                                    <th>{{form.s_inv_amount()}}</th>
                                    {%endif%}
                                    <th>{{form.s_inv_vat(value=fin.s_inv_vat)}}</th>
                                    <!-- <th>{{form.s_invoice_number(placeholder=fin.s_invoice_number)}}</th> -->
                                    <!-- {%if fin.s_inv_date%}
                                    <th>{{form.s_inv_date(value=fin.s_inv_date.strftime('%Y-%m-%d'))}}</th>
                                    {%else%} -->
                                    <!-- <th>{{form.s_inv_date}}</th>
                                    {%endif%} -->
                                    {%if fin.s_inv_currency%}
                                    <th>{{form.s_inv_currency(value=fin.s_inv_currency)}}</th>
                                    {%else%}
                                    <th>{{form.s_inv_currency}}</th>
                                    {%endif%}
                                    <th>{{fin.cost_with_vat}}</th>
                                    {%if fin.c_inv_amount%}
                                    <th>{{form.c_inv_amount(value=fin.c_inv_amount)}}</th>
                                    {%else%}
                                    <th>{{form.c_inv_amount}}</th>
                                    {%endif%}
                                    {%if fin.profit%}
                                    <th>{{fin.profit}}</th>
                                    {%endif%}


                                    
                    
                                </tr>

            </thead>

            {%if req.complete==1%}
            <button id=re_write>
                исправить
            </button> {%endif%}

            <div>

            </div>
          




            {%endblock%} {%block scripts%} {%endblock%}