 {%extends 'base.html'%} {%block head%} {{super()}}
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.4.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" /> {%endblock%} 


<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />

{%block content%}


<div id="successAlert" class="alert alert-success" role="alert" style="display:none;"></div>
<div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>
<div class>
    <script src="{{url_for('.static', filename='supp.js')}}"></script>
    <script src="{{url_for('.static', filename='add.js')}}"></script>

    

        <div id="successAlert" class="alert alert-success" role="alert" style="display:none;">

        </div>
        <div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;">
            </div>


     
        

        <table class="table table-sm">
        <thead>
            <tr>
                <th>Поиск по имени</th>
                <th>Поиск по ИНН</th>
                
            </tr>
        </thead>
        <tbody>
            <th>
                    <form action=""  method="POST">
                            {{ formName.csrf_token }}
                            
                            {{formName.name.label()}}{{formName.name}}
                            <input type="submit">
                    </form>
            
            </th>
            <th>
                    <form action=""  method="POST">
                            {{ formINN.csrf_token }}
                            {{formINN.check_inn.label()}}  {{formINN.check_inn}}
                            <input type="submit">
                    </form>

            </th>
        </tbody>
        </table>
       
        

        <div id='content'>

           

        <table class="table table-sm">
            
             <thead>
               
                <tr>
            
                        
                <th>Id перевоза</th>
                <th>Наименование</th>
                <th>ИНН</th>
                <th>Количество счетов</th>
                

              
          
    
            </tr>

            <tbody>
                {%for supp in supps%}
                <tr>
                  
                    <th>{{supp.id}}</th>
                   
                    <th>{{supp.llc_name}}</th>
                    <th>{{supp.inn}}</th>
                    <th>{{supp.supp_payment.count()}}</th>
                   
                   
           
                {%endfor%}



            {%endblock%} {%block scripts%} 
            {{super()}}
    {{moment.include_moment()}}
  {{moment.lang('ru')}}
            
            
            {%endblock%}