{% extends "base.html" %} {%block head%}

<script src="https://unpkg.com/vue@latest"></script>
<script src="https://unpkg.com/vue-select@latest"></script>
<link rel="stylesheet" href="https://unpkg.com/vue-select@latest/dist/vue-select.css">
{{super()}}
{%endblock%} 
{%block content%}

<div id="select-test">
    <h1>Vue Select</h1>
    <v-select :options="options" v-model="selected" @input="test()" ></v-select>
    <pre>[[$data]]</pre>
    <pre>[[$data.filterSuppliers]]</pre>
</div>

<script>
    
Vue.component('v-select', VueSelect.VueSelect)

new Vue({
  el: '#select-test',
  delimiters: ["[[", "]]"],
  data: {
    options: [
      'foo',
      'bar',
      'baz'
    ],

    seleted: "",
  },

  methods: {
      test: function(){
          alert(this.seleted)
      }
  }
})
</script>

<body>


    <div>
        <p id="d_elem">{{list}}</p>


        <div class="container" style="margin: 20px;">


            <table class="table table-sm">
                <thead>
                    <tr>

                        <th>ТН/ТТН</th>
                        <th>Счет от поставщика</th>
                        <th>Файлы от поставщика(договор заявка и другие)</th>
                        <th>Файлы от Бухгалтерии</th>
                        <th>Файлы от Клиента</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">
                            {{dropzone.load_js()}}
                            {{ dropzone.load_css() }}
                            {{ dropzone.style('border: 2px dashed #0087F7; margin: 10px 0 10px; min-height: 10px; min-width: 10px;') }}
                            {{ dropzone.create('supp.upload_tn') }}
                            {{ dropzone.config(redirect_url=url_for('supp.prefin_change_id_test', id=fin.id), default_message='Документы сюда') }}
                            <form action="">
                                {%for i in ttn%} {%if i.prefin_id == fin.id%}
                                <p><a href="{{url_for('supp.download_file_s_tn', filename=i.path)}}">{{i.path}}</a>
                                </p>
                                {%endif%} {%endfor%}
                            </form>



                        </th>

                        <th scope="row">

                            {{ dropzone.create('supp.upload_s_inv') }}
                            {{ dropzone.config(redirect_url=url_for('supp.prefin_change_id_test', id=fin.id)) }}
                            {%for i in invs %} {%if i.prefin_id == fin.id%}

                            <p><a href="{{url_for('supp.download_s_inv', filename=i.path)}}">{{i.path}}</a>
                            </p>
                            {%endif%} {%endfor%}



                        </th>

                        <th scope="row">
                            {{ dropzone.create('supp.upload_s_docs') }} {{ dropzone.load_js() }}
                            {{ dropzone.config(redirect_url=url_for('supp.prefin_change_id_test', id=fin.id)) }}
                            {%for i in docs%} {%if i.prefin_id == fin.id%}

                            <p><a href="{{url_for('supp.download_s_docs', filename=i.path)}}">{{i.path}}</a>
                            </p>

                            {%endif%} {%endfor%}


                        </th>

                        <th>

                            {{ dropzone.create('supp.upload_с_invoice') }} {{ dropzone.load_js() }}
                            {{ dropzone.config(redirect_url=url_for('supp.prefin_change_id_test', id=fin.id)) }}
                            {%for inv in invoicec%}
                            {%if inv.prefin_id == fin.id%} {%if inv.path !=None%}
                            <p><a href="{{url_for('supp.download_c_inv', filename=inv.path)}}">{{inv.path}}</a>

                            </p>
                            {%endif%} {%endif%} {%endfor%}

                        </th>

                        <th>


                            {%for doc in zayavka%}

                            <p><a href="{{url_for('download_file', filename=doc.path)}}">{{doc.path}}</a></p>

                            {%endfor%}

                        </th>





                        </th>
                    </tr>
                </tbody>
            </table>



            <div id="successAlert" class="alert alert-success" role="alert" style="display:none;"></div>
            <div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>


            <table class="table" id="tblData">
                <thead>

                    <th>Действие</th>
                    <th>№</th>
                    <th style="display: none;">Перевозчик в fin</th>
                    <th>Юр лицо</th>
                    <th>Направление</th>
                    <th>Продавец</th>
                    <th>Закупшик</th>
                    <th>Название клиента</th>
                    <th>№ заявки</th>
                    <th>Дата заявки с клиентом</th>
                    <th>Место загрузки</th>
                    <th>Характер груза</th>
                    <th>Место выгрузки</th>
                    <th>Дата выгрузки</th>

                    <th>Номер счета на клиента</th>
                    <th>Дата счета на клиента</th>
                    <th>Дедлайн по оплате</th>

                    <th>Валюта счета</th>
                    <th>Размер предоплаты</th>
                    <th>Кост для нас</th>
                    <th>Профит</th>
                    </tr>

                </thead>




                <tr>




                    <td>


                        <button type="button" onclick="addSuppForm()" class="btn btn-info btn-sm" id="add"><i
                                class="glyphicon glyphicon-plus" aria-hidden="true">xsax</i></button>
                    </td>

                    <td id='fin_id'>{{fin.id}}</td>
                    <th style="display: none;" id="old_supp">

                        {{supp.llc_name}}

                    </th>

                    <td>{{fin.tora_red}}</td>
                    <td>{{fin.direction}}</td>
                    <td id="sale">{{fin.sale}}</td>
                    <td>{{fin.buyer}}</td>
                    <td>{{fin.customer_name}}</td>
                    <td>{{fin.req_id}}</td>
                    <td>{{fin.customer_order_date}}</td>
                    <td>{{fin.loading_place}}</td>
                    <td>{{fin.cargo_character}}</td>
                    <td>{{fin.unloading_place}}</td>
                    <td>{{fin.unloading_date}}</td>

                    {%if current_user.role == 'account'%}
                    {%if fin.c_inv_number%}
                    <th bgcolor="#ffe6e6">{{form.c_inv_number(value=fin.c_inv_number)}}</th>
                    {%else%}
                    <th bgcolor="#ffe6e6">{{form.c_inv_number}}</th>
                    {%endif%} {%if fin.c_invoice_date%}
                    <th bgcolor="#ffe6e6">{{form.c_invoice_date(value=fin.c_invoice_date.strftime('%Y-%m-%d'))}}</th>
                    {%else%}
                    <th bgcolor="#ffe6e6">{{form.c_invoice_date}}</th>
                    {%endif%} {%if fin.c_inv_plan_pay%}

                    <th bgcolor="#ffe6e6">

                        {{form.c_inv_plan_pay(value=fin.c_inv_plan_pay.strftime('%Y-%m-%d'))}}</th>

                    {%else%}
                    <th bgcolor="#ffe6e6">{{form.c_inv_plan_pay}}</th>
                    {% endif %}


                    {%else%}

                    <th bgcolor="#ffe6e6">{{fin.c_inv_number}}</th>


                    <th bgcolor="#ffe6e6">{{fin.c_invoice_date}}</th>




                    <th bgcolor="#ffe6e6">

                        {{fin.c_inv_plan_pay}}</th>



                    {%endif%}





                    <td>{{fin.s_inv_currency}}</td>
                    <td>{{fin.s_prepaid_amount}}</td>
                    <td>{{fin.cost_with_vat}}</td>
                    <td>{{fin.profit}}</td>



                </tr>
            </table>

            <div id="successAlertaddSupp" class="alert alert-success" role="alert"
                style="display:none; margin-left: 150px;"></div>
            <div id="errorAlertaddSupp" class="alert alert-danger" role="alert"
                style="display:none; margin-left: 150px;">
            </div>

            <div id="addSupp" style="display:none">


                <table class="table">
                    <thead>
                        <td>Поставщик</td>
                        <td>Номер счета от поставщика</td>
                        <td>Сумма счета от Постащика</td>
                        <td>Дата счета от Постащика</td>
                        <td>Дата когда нужно заплатить поставщику</td>
                        <td style="width: 15ch;">Размер НДС</td>
                        <td style="width: 15ch;">Валюта</td>
                        <td>Действия <button type="button" class="close" aria-label="Close"
                                onclick="closeAddSuppForm()">
                                <span aria-hidden="true">&times;</span>
                            </button>

                        </td>
                    </thead>

                    <tbody>
                        <form action="">
                            <td id="formname">
                                {{form.name(class="form-control", id='addsuppname')}}
                            </td>
                            <td>
                                {{form.s_invoice_number(class="form-control", id="formaddinvoice")}}
                            </td>
                            <td>
                                {{form.s_inv_amount(class="form-control", id='formaddsinvamount' )}}
                            </td>
                            <td>
                                {{form.s_inv_date(class="form-control", id="formaddsinvdate")}}
                            </td>
                            <td>
                                {{form.s_inv_das_inv_date_to_pay(class="form-control", id="formaddsuppinvdeadline")}}

                            </td>
                            <td>
                                {{form.s_inv_vat(class="form-control", id="formaddsuppvat")}}
                            </td>

                            <td>
                                {{form.s_inv_currency(class="form-control", id="formaddsuppcurrency")}}
                            </td>
                            <td>
                                <button type="button" class="glyphicon glyphicon-pencil" aria-hidden="true" id='add_inv'
                                    onclick="addSupp(event)">Записать изменения</button>
                            </td>


                        </form>
                    </tbody>


                </table>
                <br><br>

            </div>
           

            <br><br>
            <ul class="nav nav-tabs" id="myTab" role="tablist">

                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                        aria-controls="profile" aria-selected="false">Поставщик</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                        aria-controls="contact" aria-selected="false">Клиент</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="test-tab" data-toggle="tab" href="#test" role="tab"
                        aria-controls="test" aria-selected="false">Test</a>
                </li>

            </ul>

            
                
                    
                
            
            

            <div class="tab-content" id="myTabContent">
                
               
                <div class="tab-pane fade in active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    {%if supp%}
                    {%for supp in fin.supplier.all()%}

                    <table class="table" style="box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);">
                        <thead>

                            <tr>

                                <td>Действия</td>
                                <td style="display: none;">Перевозчик в fin</td>
                                <td>ID перевозчика</td>

                                <td>Перевозчик </td>


                                <td style="display: none; width: 15ch;" id="new_supp_th" class="new_supp_th">Новый
                                    перевозчик</td>
                                <td>Сумма счета от Постащика</td>
                                <td>Номер счета от поставщика</td>
                                <td>Дата счета от Постащика</td>
                                <td>Дата когда нужно заплатить поставщику</td>
                                <td>Размер НДС</td>
                                <td>Валюта</td>

                                <td> Операции</td>
                                <td> Cч-ф, акт/УПД </td>
                                <td> Транспортный документ</td>
                                <td> Заявка от поставщика </td>
                            </tr>

                        </thead>
                        <tbody>



                            <tr>
                                <td>
                                    <button type="button" class="btn btn-primary btn-block"
                                        onclick="addOneInvToSupp(event)">Добавить счет
                                        поставщика</button>
                                    <button type="button" class="btn btn-primary btn-block" id='showChange'
                                        onclick="ShowNewSupp(event)">сменить поставщика</button>
                                    <button type="button" class="btn btn-primary btn-block"
                                        onclick="HideNewSupp(event)">Отменить</button>
                                    <button type="button" class="btn btn-primary btn-block"
                                        onclick="doneSupp(event)">Записать
                                        изменения</button>
                                    <button type="button" class="btn btn-danger btn-block" onclick="deleteSupp(event)" ">Удалить
                                                    поставщика</button>
                        
                                            </td>
                        
                                            <div>
                                                <td style=" display: none;" id="old_supp"></td>
                                <td id="delsuppid" style="display: block;">{{supp.id}}</td>
                                <td onchange="changeSupplier(event)">{{supp.llc_name}}



                                </td>
                                <td onchange="changeSupplier(event)" style="display: none;" id="new_supp">
                                    {{form.name()}}
                                </td>

                                <td bgcolor="#cceeff">
                                    <div class={{supp.id}} style="display:none">
                                        {{form.s_inv_amount(value=fin.s_inv_amount, class="form-control invoiceForm", id='invoiceForm')}}
                                    </div>

                                    <br><br>
                                    {%for i in supp.supp_payment%}
                                    {%if i.fin_id == fin.id%}
                                    <p id={{i.id}} class={{i.id}}>
                                        {{form.s_inv_amount(value=i.s_inv_amount, class="form-control")}}</p><br><br>
                                    {%endif%}
                                    {%endfor%}

                                </td>
                                <td bgcolor="#cceeff">
                                    <div class={{supp.id}} style="display:none">
                                        {{form.s_invoice_number(class="form-control invoiceForm", id='invoiceForm')}}
                                    </div>
                                    <br><br>
                                    {%for i in supp.supp_payment%}
                                    {%if i.fin_id == fin.id%}
                                    <p id={{i.id}} class={{i.id}}>
                                        {{form.s_invoice_number(value=i.s_inv_number, class="form-control")}}</p>
                                    <br><br>
                                    {%endif%}
                                    {%endfor%}

                                </td>

                                <td bgcolor="#cceeff">
                                    <div class={{supp.id}} style="display:none">
                                        {{form.s_inv_date(class="form-control invoiceForm", id='invoiceForm' )}}
                                    </div>
                                    <br><br>
                                    {%for i in supp.supp_payment%}
                                    {%if i.fin_id == fin.id%}
                                    <p id={{i.id}} class={{i.id}}>
                                        {%if i.s_invoice_date%}
                                        {{form.s_inv_date(class="form-control",  value=i.s_invoice_date.strftime('%Y-%m-%d'))}}
                                        {%else%}
                                        {{form.s_inv_date(class="form-control")}}
                                        {%endif%}
                                    </p><br><br>
                                    {%endif%}
                                    {%endfor%}

                                </td>
                                <td bgcolor="#cceeff">
                                    <div class={{supp.id}} style="display:none">
                                        {{form.s_inv_das_inv_date_to_pay(class="form-control invoiceForm", id='invoiceForm'  )}}
                                    </div><br><br>
                                    {%for i in supp.supp_payment%}
                                    {%if i.fin_id == fin.id%}
                                    <p id={{i.id}} class={{i.id}}>
                                        {%if i.s_inv_pay_day%}
                                        {{form.s_inv_date(class="form-control", value=i.s_inv_pay_day.strftime('%Y-%m-%d'))}}
                                        {%else%}
                                        {{form.s_inv_date(class="form-control")}}
                                        {%endif%}
                                    </p><br><br>
                                    {%endif%}
                                    {%endfor%}

                                </td>
                                <td bgcolor="#cceeff">
                                    <div class={{supp.id}} style="display:none">
                                        {{form.s_inv_vat(class="form-control invoiceForm", id='invoiceForm')}}
                                    </div>
                                    <br><br>
                                    {%for i in supp.supp_payment%}
                                    {%if i.fin_id == fin.id%}
                                    <p id={{i.id}} class={{i.id}}>
                                        {{form.s_inv_vat(class="form-control", style="width:10ch" )}}
                                    </p><br><br>
                                    {%endif%}
                                    {%endfor%}


                                </td>
                                <td bgcolor="#cceeff" style="width: 200px;">
                                    <div class={{supp.id}} style="display:none">
                                        {{form.s_inv_currency(class="form-control invoiceForm", id='invoiceForm')}}
                                    </div>
                                    <br><br>
                                    {%for i in supp.supp_payment%}
                                    {%if i.fin_id == fin.id%}
                                    <p id={{i.id}} class={{i.id}} data-name={{i.id}}>
                                        {{form.s_inv_currency(class="form-control", style="width:10ch")}}</p><br><br>
                                    {%endif%}
                                    {%endfor%}


                                </td>





                                <td bgcolor="#cceeff">
                                    <div class={{supp.id}} style="display:none">

                                        <button type="button" class="glyphicon glyphicon-pencil" aria-hidden="true"
                                            id='add_inv' onclick="addInvtoSupForm(event)">Записать
                                            изменения</button>






                                    </div>
                                    <br>

                                    {%for i in supp.supp_payment%}
                                    {%if i.fin_id == fin.id%}
                                    <p id={{i.id}} class={{i.id}}><button type="button" id='add_inv'
                                            onclick="addInvtoSup(event)" class="btn btn-primary btn-block">Записать
                                            изменения</button>
                                        <button id id={{i.id}} class={{i.id}}
                                            onclick="delInvfromSup(event)">DEL</button>

                                    </p><br>
                                    {%endif%}
                                    {%endfor%}


                                </td>
                                <td bgcolor="#cceeff">
                                    <br>
                                    {{dropzone.load_js()}}
                                    {{ dropzone.load_css() }}
                                    {{ dropzone.style('border: 2px dashed #0087F7; margin: 10px 0 10px; min-height: 10px; min-width: 10px;') }}
                                    {{ dropzone.create('supp.upload_tn') }}
                                    {{ dropzone.config(redirect_url=url_for('supp.prefin_change_id_test', id=fin.id), default_message='Drop here!') }}
                                </td>
                                <td bgcolor="#cceeff">
                                    <br>

                                    {{dropzone.load_js()}}
                                    {{ dropzone.load_css() }}
                                    {{ dropzone.style('border: 2px dashed #0087F7; margin: 10px 0 10px; min-height: 10px; min-width: 10px;') }}
                                    {{ dropzone.create('supp.upload_tn') }}
                                    {{ dropzone.config(redirect_url=url_for('supp.prefin_change_id_test', id=fin.id), default_message='Drop here!') }}
                                </td>

                                <td bgcolor="#cceeff">
                                    <br>
                                    {{dropzone.load_js()}}
                                    {{ dropzone.load_css() }}
                                    {{ dropzone.style('border: 2px dashed #0087F7; margin: 10px 0 10px; min-height: 10px; min-width: 10px;') }}
                                    {{ dropzone.create('supp.upload_tn') }}
                                    {{ dropzone.config(redirect_url=url_for('supp.prefin_change_id_test', id=fin.id), default_message='Drop here!') }}


                                </td>


                </div>







                </tr>


                </tbody>

                </table>
                {%endfor%}
                {%endif%}

            </div>






            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab" style="width: 1500px;">
                
                <div id="invoicecust">
                    <br>
                    <div class="form-row">

                        <div class="form-group col-md-4">
                            <input v-model="id" type="text"  placeholder="id" class="form-control" >
                        </div>

                    
                        <div class="form-group col-md-4">
                            <input v-model="number" type="text" placeholder="номер" class="form-control">
                        </div>
                            
                        <div class="form-group col-md-2">
                             <button @click="add_test_1()" class="form-control">Add</button>
                        </div>        
                       
                  </div>
               
                
                        <template v-for="(item, index) in invoiceDetails"  >
                            <li>[[item.id]]:[[item.number]]:[[invoiceDetails[0].test_attr]]:[[item.test]]
                                <button type="button" @click="invoiceDetails.splice(index, 1)" class="remove">del</button>
                               <button @click='addPlus(index)'>Plus</button>
                                    
                                    <template v-for="(val, key) in item.invoices">
                                        <p ><input v-model="val.description"> <input v-model="val.summ"> <input v-model="val.vat"><input v-model='val.total' >
                                            [[key]] / [[val]] <button @click="item.invoices.splice(key, 1)">delete</button>
                                        </p>  
                
                                    </template>
                                
                            </li>
                        </template>
                        <pre>[[$data]]</pre>
                
                </div>
                </div>
                

            <div class="tab-pane fade" id="test" role="tabpanel" aria-labelledby="test-tab" style="width: 1500px;">
                <div id="supp-app">

                    <input type="text" v-model="new_supplier.name" class='form-control col-md-2'>
                    <input type="text" v-model="new_supplier.inn" class='form-control col-md-2'>
                    <button @click="addSupplier()">Записать поставщика в базу</button>
                    
                        <br><br>
                        <v-select
                        :options="suppliers"
                        :get-option-label = 'suppliers => suppliers.node.llcName'
                        :reduce="suppliers => suppliers.node.llcName"
                        v-model='selected' @input='supplier_f(), getFilterSuppliersPrefin()'></v-select>
                        <button @click='addSuppPrefin()'>Добавить поставщика в работу</button>
        
                    <br>
                    <pre>[[$data.selected]]</pre>
                    <pre>[[$data]]</pre>
                   

            
                </div>
            </div>
            
                

            </div>
</div>




</body>









        
</div>



<div id="app">

</div>


</html>

{%endblock%}

{%block scripts%}

<script src="{{url_for('supp.static', filename='fin_ch_id.js')}}"></script>

<script src="{{url_for('supp.static', filename='invtocust.js')}}"></script>
<script src="{{url_for('supp.static', filename='comp.js')}}"></script>
<script src="{{url_for('supp.static', filename='supp_vue.js')}}"></script>

<script src="{{url_for('supp.static', filename='b.js')}}"></script>





<script>

    function addSum(event) {
        event.preventDefault()

        const button = $('input#submit')[0]
        const invoice_number = $("input#s_invoice_number")[0].value
        const supp_id = $("select#name")[0].value
        const date_inv = $("input#s_inv_date")[0].value
        const date_inv_pay = $("input#s_inv_das_inv_date_to_pay")[0].value
        const fin_id = $("#fin_id")[0].innerHTML
        const summ_invoice = $("input#s_invoice_number")[0].parentNode.previousElementSibling.innerHTML
        const inv_currency = $("input#s_invoice_number")[0].parentNode.nextElementSibling.nextElementSibling.nextElementSibling.nextElementSibling.innerHTML


        console.log(summ_invoice)




        $.getJSON('/suppliers/lets', {
            id: fin_id,
            supp_id: supp_id,
            invoice_number: invoice_number,
            summ_invoice: summ_invoice,
            date_inv: date_inv,
            date_inv_pay: date_inv_pay,
            inv_currency: inv_currency,
            type: 'POST',
            data: '/suppliers/prefin_change_id_test/' + fin_id

        }, function (data) {
            console.log(data)

        })


    }


</script>

<script>



    function changeSupplier(event) {


        console.log(event.target)

        const invoice_number = $("input#s_invoice_number")[0].value
        const supp_id = $("select#name")[0].value
        const date_inv = $("input#s_inv_date")[0].value
        const date_inv_pay = $("input#s_inv_das_inv_date_to_pay")[0].value
        const fin_id = $("#fin_id")[0].innerHTML
        const summ_invoice = $("input#s_invoice_number")[0].parentNode.previousElementSibling.innerHTML
        const inv_currency = $("input#s_invoice_number")[0].parentNode.nextElementSibling.nextElementSibling.nextElementSibling.nextElementSibling.innerHTML
        const x = $("#old_supp")[0].textContent

        console.log(fin_id)
        if (confirm("Вы уверены в смене поставщика?") === true) {


            console.log(supp_id)
            $.getJSON('/suppliers/change_supp_fin', {
                id: fin_id,
                supp_id: supp_id,
                invoice_number: invoice_number,
                summ_invoice: summ_invoice,
                date_inv: date_inv,
                date_inv_pay: date_inv_pay,
                inv_currency: inv_currency,
                x: x,
                type: 'POST',
                data: '/suppliers/prefin_change_id_test/' + fin_id

            }, function (data) {
                console.log(data)
            });

        } else {
            window.location.reload()
        }


    }
</script>










{%endblock%}
