 {%extends 'base.html'%} {%block head%} {{super()}}
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.4.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" /> {%endblock%} 


<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />

{%block content%}


<div id="successAlert" class="alert alert-success" role="alert" style="display:none;"></div>
<div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>
<div class>
    <script src="{{url_for('.static', filename='supp.js')}}"></script>
    <script src="{{url_for('.static', filename='add.js')}}"></script>

    

        <div id="successAlert" class="alert alert-success" role="alert" style="display:none;">

        </div>
        <div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;">


        </div> 
        <form action=""  method="POST">
               {{form.check_inn.label()}}
                 {{form.check_inn}}
                {{form.name.label()}} 
                {{form.name}}
                <input type="submit" value="выбрать">
        </form>

        <div id='content'>

           

        <table class="table table-sm">
            
             <thead>
               
                <tr>
              {%if request.method=='POST'%}  
                <th>Действие</th>
                <th>id</th>
                <th>Наименование поставщика</th>
                <th>ИНН</th>
                <th>Количество перевозок</th>
                <th>Номера перевозок</th>
                <th>Счета</th>

              
              {%else%}

              <th>Действие</th>
              <th>id</th>
              <th>Наименование поставщика</th>
                <th>ИНН</th>
              {%endif%} 
    
            </tr>
        {%if request.method !='POST'%}
            
            {%for supp in all %} 
            <tbody>
                <th><a href="{{url_for('supp.new')}}"><button >  Подробнее</button></a></th>
                <th>{{supp.id}}</th>
                <th>{{supp.llc_name}}</th>
                <th>{{supp.inn}}</th>
               
               
            </tbody> 
            {%endfor%}
        
        {%else%}
        
        <tbody>
            <th><button>Подробнее</button></th>
            <th>{{supplier.id}}</th>
            <th>{{supplier.llc_name}}</th>
            <th>{{supplier.inn}}</th>
                
            <th>{{supplier.prefin.all()|length}}
            <th>
                {%for s in supplier.prefin.all()%}
                <p>{{s.id}}</p>
            {%endfor%}</th>
            <th>
            {%for fin in supplier.prefin.all()%}
                {%for path in fin.docs.all()%}
                <p>
                <a href="{{url_for('supp.download_s_docs', filename=path.path)}}">{{path.path}}</a></p>
                {%endfor%}
            {%endfor%}

            <th>
                {%for fin in supplier.prefin.all()%}
                    
                    <p>{{fin.s_inv_amount}}</p>
                    {%endfor%}
               
            </th>
            <th>
                    {%for fin in supplier.prefin.all()%}
                        
                        <p>{{fin.s_invoice_number}}</p>
                        {%endfor%}
                   
                </th>

            </th>

            
                
           
           
            
           
        </tbody> 
        

        {%endif%}

        


        </table>
    </div>
            
            
      
       
<!-- versio1 -->
       
      

            {%endblock%} {%block scripts%} {%endblock%}