 {%extends 'base.html'%} {%block head%} {{super()}}
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.4.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" /> {%endblock%} 


<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />

{%block content%}


<div id="successAlert" class="alert alert-success" role="alert" style="display:none;"></div>
<div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>
<div class>
    <script src="{{url_for('.static', filename='supp.js')}}"></script>
    <script src="{{url_for('.static', filename='add.js')}}"></script>

    

        <div id="successAlert" class="alert alert-success" role="alert" style="display:none;">

        </div>
        <div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;">


        </div> 
        <form action=""  method="POST">
               {{form.check_inn.label()}}
              
                {{form.check_inn}}
           
                {{form.name.label()}} 
                {{form.name}}
                <input type="submit" value="выбрать">
        </form>

        <div id='content'>

           

        <table class="table table-sm">
            
             <thead>
               
                <tr>
              {%if request.method=='POST'%}  
                <th>Действие</th>
                <th>id</th>
                <th>Наименование поставщика</th>
                <th>ИНН</th>
                <th>Номера перевозок</th>
                <th>Количество перевозок</th>
                
                <th>Счета</th>
                <th>Номера счетов</th>
                <th>Сумма счета</th>

              
              {%else%}

              <th>Действие</th>
              <th>id</th>
              <th>Наименование поставщика</th>
                <th>ИНН</th>
              {%endif%} 
    
            </tr>
        {%if request.method !='POST'%}
            
            {%for supp in all %} 
            <tbody>
                <th><a href="{{url_for('supp.new')}}"><button >  Подробнее</button></a></th>
                <th>{{supp.id}}</th>
                <th>{{supp.llc_name}}</th>
                
                <th>{{supp.inn}}</th>
               
               
            </tbody> 
            {%endfor%}
        
        {%else%}
        
        <tbody>
            {%if supplier%}
            <th><button>Подробнее</button></th>
            <th>{{supplier.id}}</th>
            <th name='supp_name'>{{supplier.llc_name}}</th>
            <th>{{supplier.inn}}</th>
            <th>
                {%for s in supplier.prefin.all()%}
                    <p>{{s.id}}</p>
                {%endfor%}</th>
                  
            <th>{{supplier.prefin.all()|length}}</th>
           <th>
            {%for fin in supplier.prefin.all()%}
                {%for path in fin.docs.all()%}
                <p>
                <a href="{{url_for('supp.download_s_docs', filename=path.path)}}">{{path.path}}</a></p>
                {%endfor%}
            {%endfor%}
        </th>
        

            <th>
               

                    {%for fin in supplier.prefin.all()%}
                        <p>{{fin.s_invoice_number}}</p>
                    {%endfor%}
               
            </th>
            <th>
                    {%for fin in supplier.prefin.all()%}
                    
                    <p>{{fin.s_inv_amount}}</p>
                    {%endfor%}
                   
                </th>

            </th>

        {%endif%}
            
                
           
           
            
           
        </tbody> 
        

        {%endif%}

        </div>


        </table>

    <div id='content'>

            <table class="table table-sm">
            
                    <thead>
                      
                       <tr>
                     {%if request.method=='POST'%}  
                       
                       <th>Действие</th>
                       <th>Номера счета поставщика</th>
                       <th>Сумма счета</th>
                       <th>Дата оплаты</th>
                       <th>Сумма оплаты</th>
                       <th>Остается долг по счету</th>
                    
                     {%endif%} 
           
                   </tr></thead>

                   <tbody>
                       <form method='POST' action="">
                           <th><input type=submit></th> 
                           {{ form.csrf_token }}
                           

                        <th class="selc" id='number' multiple="multiple">{{form.s_n_all_invoices}}</th>
                        <th id='amount'>{{form.s_inv_amount}}</th>
                        <th>{{form.s_inv_pay_day}}</th>
                        <th>{{form.s_payment_summ}}</th>
                        </form>
                    </tbody>


                    </table>
                    


    
    </div>
    <script>
   
    </script>
    
    <script>
        

        let number = $('#number');
        let amount = $('#s_inv_amount');
        let a = document.getElementById('amount');

    
        number.on('select2:select', function (e) {
        var number = e.params.data;
        console.log(number.text);

        fetch('/suppliers/s_inv_number/'+ number.text).then(function(response){
            response.json().then(function(data){
                console.table(data);
                let optionHTML='';
                for (let inv of data.invoices){
                    // optionHTML += '<option value="' + inv.id + '">' + inv.s_inv_number + '</option>';
                    console.log(inv.s_inv_amount) 
                    a.textContent=inv.s_inv_amount;   
                }
                
            })
          })

        })






    
     
   
        
        
        

    
   

    </script>
            
            
      
       
<!-- versio1 -->
       
      

            {%endblock%} {%block scripts%} 
            
            
            {%endblock%}