{% extends 'base.html' %}

{%block head%} 
<script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">   

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"></style>
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.0/css/buttons.dataTables.min.css"></style>


<script src="https://code.jquery.com/jquery-3.3.1.js"> </script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"> </script>
<script src="https://cdn.datatables.net/buttons/1.6.0/js/dataTables.buttons.min.js"> </script>
<script src="https://cdn.datatables.net/buttons/1.6.0/js/buttons.flash.min.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"> </script>
<script src="https://cdn.datatables.net/buttons/1.6.0/js/buttons.html5.min.js"> </script>
<script src="https://cdn.datatables.net/buttons/1.6.0/js/buttons.print.min.js"> </script>


<script  src="{{url_for('.static', filename='table.js') }}"></script>
{%endblock%}


{%block content%}

<table id="example" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%"

>
   
   <thead>
       <tr>
          
        <th>Транзит ID</th>
        <th>Транзитер</th>
       <th>Платежка</th>
       <th>Статус Транзита</th>
        <th>Заявленная сумма</th>
       <th>Новая сумма Транзита</th>
       <th>Перевозчик</th>
       <th>Дата</th>
       <th>Номер счета от поставщика</th>
       <th>test1</th>
       
       <tfoot>
            <tr>
                <th> SUM selected:</th>
                <th class='sum'>  </th>
                <th colspan="2" style="text-align:right">Total:</th>
                <th></th>
            </tr>
        </tfoot>
    
    
       
   </thead>
   <tbody>
       {%for i in r%}
       
       <tr>

           
           <td>{{i.id}}</td>
           <td>{{i.transit.name}}&nbsp{{i.confirm}}</td>
           {%if i.doc_path%}
           <td><a href="{{url_for('supp.download_tr_doc_pay', filename=i.doc_path )}}">{{i.doc_path}}</a></td>
           {%else%}
           <td></td> 
           {%endif%}
           <td>{{i.status}}</td>
           <td>₽{{i.sum}}</td>
           <td class="choice" id='x' onchange="myfunc()"><input type="number" value={{i.sum}}> </td>
           {%if i.payment.supplier%}
           
           <td>{{i.payment.supplier.llc_name}} {%if i.payment.supp_payment_s%}
            <a href="{{url_for('supp.prefin_change_id_test', id=i.payment.supp_payment_s.supp_p.id)}}">
            {{i.payment.supp_payment_s.supp_p.id}}</a>
             {%endif%}


           </td>
           {%else%}
           <td></td>
           {%endif%}
           <td>{{i.transit_date_send}}</td>
           <td>{{i.payment.s_inv_number}}</td>
           <td class='commision' id='commision' onchange="funccommision()"><input type="number"> </td> 
           
        </tr>

        
       {%endfor%}

   </tbody>
   
  </table>


 Предложение<p id='total'></p>
 <button id="confirm" onclick="confirm()">подтвердить в тразит</button>



{%endblock%}

{%block scripts%}

<script>
function confirm(){
    const test_array = document.querySelectorAll('#x');
    const list = []
    node = test_array[0].parentNode.children[0].textContent


    for(i=0;i<test_array.length; i++){list.push(test_array[i].parentNode.children[0].textContent)}
    console.log(list)

    let node_id;
    for(i=0; i<list.length; i++){

    $.getJSON('/suppliers/confirm_transit', {
        node:list[i],
        sum:test_array[i].children[0].value,
        type:'POST',
        data:'/suppliers/test'

        }, function(data){
            console.log(data)
            window.location.reload()
})
    


}

}
</script>

<script>
function myfunc(){


    var sum = 0;
    const pp = document.getElementById('total')
    
    
    console.log(sum)
    var list = [];
    var new_l = [];
    var i=0, x;
    const test_array = document.querySelectorAll('#x')
    console.log(test_array)
    
    for(i=0; i<test_array.length; i++){
        
        var x = test_array[i].childNodes[0].value
        x = parseFloat(x)
        console.log(list)
        if(x>0){
        list.push(x)
        }
        if(list.length>0){
            sum += x
        }
        
        }
        
    
    console.log('sum is: ' + sum)
    pp.innerHTML=sum
    
    return sum
    }
    </script>


<script>


$(document).ready(function() {
    var sum = 0;
    var test;
    $('#example').dataTable( {
       
     
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ],


        "footerCallback": function ( row, data, start, end, display ) {
            var api = this.api(), data;
 
            // Remove the formatting to get integer data for summation
            var intVal = function ( i ) {
                return typeof i === 'string' ?
                    i.replace(/[\₽,]/g, '')*1 :
                    typeof i === 'number' ?
                        i : 0;
            };
 
            // Total over all pages
            total = api
                .column(4)
                .data()
                .reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                    test = intVal(a) + intVal(b);
                    
                } );

            console.log(data)

            
 
            // Total over this page
            pageTotal = api
                .column( 4, { page: 'current'} )
                .data()
                .reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0 );
 
            // Update footer
            $( api.column(4).footer() ).html(
                '₽'+pageTotal +' ( ₽'+ total +' total)'
            );

         
        }
        
    } );

  
} );
</script>

<script>


    </script>

{%endblock%}


